In [133]:
import os
import pandas as pd

# Specify the target date
target_date_str = "2022-01-14"
target_date = pd.to_datetime(target_date_str)

# Construct the file name (assuming pattern "post_despacho_YYYYMMDD.parquet")
filename = f"post_despacho_{target_date.strftime('%Y%m%d')}.parquet"

# Define the raw folder path (adjust if necessary)
raw_folder = r"..\data\raw"
file_path = os.path.join(raw_folder, filename)

# Read the parquet file
df = pd.read_parquet(file_path)
print("Original DataFrame preview:")
df.head(3)

Original DataFrame preview:

,GRUPOS,INDICE,GRUPO,EMPRESA,CENTRAL,FECHA,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,1 - Térmica,1,Térmica,AES ANDRES,AES ANDRES,2022-01-14T00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1 - Térmica,1,Térmica,BERSAL,BERSAL,2022-01-14T00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,15.0,15.0,0.0,0.0
2,1 - Térmica,1,Térmica,CEPP,CEPP 1,2022-01-14T00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', None)
df[df['CENTRAL'] == 'HATILLO'].head()

,GRUPOS,INDICE,GRUPO,EMPRESA,CENTRAL,FECHA,H1,H2,H3,H4,H5,H6,H7,H8,H9,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
76,4 - Hidroeléctrica,4,Hidroeléctrica,EGEHID,HATILLO,2022-01-14T00:00:00,7.11,7.12,7.11,7.1,7.1,7.11,7.11,7.1,7.1,7.1,7.1,5.91,5.95,0.0,8.87,8.87,6.99,7.02,7.03,5.9,4.95,4.94,4.94,5.0

In [122]:
# Define the range of columns to set to zero (from H10 to H15)
cols_to_zero = [f"H{i}" for i in range(1, 25)]

# Update the DataFrame: For rows where CENTRAL is "ESTRELLA DEL MAR 2 SFO", set the specified columns to 0.0
df.loc[df['CENTRAL'] == 'ESTRELLA DEL MAR 2 CGN', cols_to_zero] = 0.0

In [135]:
mask = (df['CENTRAL'] == 'HATILLO')

# Set the value in H20 to zero for the matching rows

df.loc[mask, 'H15'] = 8.87

In [132]:
# Save the modified DataFrame back to the same location in the raw folder
df.to_parquet(file_path, index=False)
print(f"Modified DataFrame saved back to: {file_path}")

Modified DataFrame saved back to: ..\data\raw\post_despacho_20181126.parquet